body{
    background-color: black;
}

.hidden{
    display: none;
}

#slideshow{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

img {
    width: 70vw;
}

#add {
    border: 1px solid white;
    border-radius: 25%;
    background-color: transparent;
    color: white;
    font-size: 1.5em;
}

#fileInput {
    position: fixed;
    top: 3;
    left: 3;
    z-index: 1000;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    padding: 5px;
}

#fileInput:focus {
    outline: none;
}

#fileInput::file-selector-button {
    border-radius: 4px;
    padding: 5px 10px; /* Adjust padding for consistency */
    cursor: pointer;
    background-color: transparent;
    border: 1px solid white; /* Ensure button border is white */
    color: white;
    transition: background-color 200ms;
}

#fileInput::file-selector-button:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Light hover effect */
}

#fileInput::file-selector-button:active {
    background-color: rgba(255, 255, 255, 0.2); /* Active state effect */
}
